################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Run-Deployment.ps1

# Visual Studio per-user files
/.vs/
